/* RESET */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

ol,
ul {
  list-style-type: none;
}

/* APP STYLES */

.body {
  font-family: "Roboto", sans-serif;
}
